mixin action
    .action
        .row.no-gutters
            .col-sm-12.col-md-12.col-lg-12.col-xl-6.d-flex
                .action__bg 
                    h3.action__title блок CALL TO ACTION ПОСЛУГИ ЦЕНТРУ ОБРОБКИ ДАНИХ
                    p.action__subtitle Потрібен хмарний ЦОД, сервер в хмарі, віртуальна система збереження даних, резервне сховище або віддалена робоча станція? Нажимай сюди. Ви отримаєте повний доступ до повністю ізольованою, автономної інфраструктурі і неймовірні можливості управління нею.
                    +btn('купить')
            .col-sm-12.col-md-12.col-lg-12.col-xl-6.d-flex
                img.action__img(src="../dist/img/img_4.svg", alt="")