mixin contact
    .contact
        .contact__box
            .contact__name
                h2.contact__title Підтримка, якій не все одно!
        .contact__btn.d-flex.justify-content-center.align-items-center
            button.contact__tel
                <i class="fas fa-phone-alt contact__icon"></i> +38 (044) 502-02-42 
            button.contact__mail
                <i class="fas fa-envelope contact__email"></i> upport.edc@udc-group.com.ua   
