mixin nav
    .container
        .nav.d-flex.align-items-center.justify-content-between
            img.nav__logo(src="../../../dist/img/logo.png", alt="")
            ul.nav__list.d-flex
                li.nav__item
                    a.nav__link(href="#") послуги
                li.nav__item
                    a.nav__link(href="#") про компанію
                li.nav__item
                    a.nav__link(href="#") Партнери
                li.nav__item
                    a.nav__link(href="#") Контакти