mixin footer
    .footer
        .footer__wrapper
            .container
                .footer__content
                    .footer__content--section
                        img.footer__image(src="./img/Group2.png", alt="")
                        a.footer__link(href="#")
                            p.footer__subtitle.footer__subtitle--first Угода користувача
                        a.footer__link(href="#")
                            p.footer__subtitle.footer__subtitle--next Політика конфіденційності
                    .footer__content--section2
                        h6.footer__title Компания
                        a.footer__link(href="#")
                            p.footer__subtitle Послуги
                        a.footer__link(href="#")
                            p.footer__subtitle.footer__subtitle--next Про компанію
                        a.footer__link(href="#")
                            p.footer__subtitle.footer__subtitle--next Партнери
                        a.footer__link(href="#")
                            p.footer__subtitle.footer__subtitle--next Контакти
                    .footer__content--section3
                        h6.footer__title Мы в соцсетях
                        a.footer__link(href="#")
                            i.fab.fa-facebook-f
                        a.footer__link(href="#")
                            i.fab.fa-instagram
    .copy
        p.copy__text &copy; 2020 European Data Center