mixin footer
    .footer
        .container
            .d-flex.justify-content-between
                .footer__logo
                    img.footer__logotip(src="./img/Frame.png", alt="")
                    a.footer__link(href="#") Угода користувача
                    a.footer__link(href="#") Політика конфіденційності 
                .footer__companies
                    p.footer__head Компания
                    a.footer__link(href="#") Послуги   
                    a.footer__link(href="#") Про компанію
                    a.footer__link(href="#") Партнери
                    a.footer__link(href="#") Контакти

                .footer__social
                    p.footer__network Мы в соцсетях
                    a(href="#") 
                        <i class="fab fa-facebook-f footer__fb"></i>
                    a(href="#")
                        <i class="fab fa-instagram footer__inst"></i>
    .copiright &copy; 2020 European Data Center
           