mixin services
    .container
        .services
            h2.services__title наші послуги
            .services__content   
                .content1    
                    img.services__content-picture(src="./img/logo_colors_gradients-03.jpg", alt="")
                    h3.services__content-title Послуги хмарного ЦОД
                    p.services__content-subtitle сервіс оренди обчислювальних потужностей (IaaS) на наших хмарних платформах для створення вашої власної інфраструктури в «хмарі». 
                .content1    
                    img.services__content-picture(src="./img/logo_colors_gradients-04.jpg", alt="")
                    h3.services__content-title EDC Colocation
                    p.services__content-subtitle сервіс розміщення вашого IT обладнання на наших потужних, захищених, від   мовостійких центрах обробки даних.
                .content1    
                    img.services__content-picture(src="./img/logo_colors_gradients-05.jpg", alt="")
                    h3.services__content-title EDC Consulting
                    p.services__content-subtitle сервіс допомоги в питаннях підбору рішень, стосовно будь-якої IT інфраструктури.