extends ../template/layout.pug

//- include blocks here
include ../blocks/btn/_btn.pug
include ../blocks/support/_support.pug
include ../blocks/action/_action.pug

block page
    //- type pug code here
    +support
    +action
    