mixin callTo
    .call
        .call__content
            h3.call__title блок CALL TO ACTION ПОСЛУГИ ЦЕНТРУ ОБРОБКИ ДАНИХ
            p.call__subtitle Потрібен хмарний ЦОД, сервер в хмарі, віртуальна система збереження даних, резервне сховище або віддалена робоча станція? Нажимай сюди. Ви отримаєте повний доступ до повністю ізольованою, автономної інфраструктурі і неймовірні можливості управління нею.
            button.call__btn Купити
        .call__content2
            img.call__img(src="./img/logo_colors_gradients2.jpg", alt="")
