mixin support
    .support
        .container
            h1.support__title  наші послуги
            .row
                .col-sm-12.col-md-4.col-lg-4.col-4
                    img.support__img(src="../dist/img/img_1.svg", alt="")
                    h2.support__subtitle Послуги хмарного ЦОД
                    p.support__text сервіс оренди обчислювальних потужностей (IaaS) на наших хмарних платформах для створення вашої власної інфраструктури в «хмарі». 
                .col-sm-12.col-md-4.col-lg-4.col-4
                    img.support__img(src="../dist/img/img_2.svg", alt="")
                    h2.support__subtitle EDC Colocation
                    p.support__text сервіс розміщення вашого IT обладнання на наших потужних, захищених, відмовостійких центрах обробки даних.
                .col-sm-12.col-md-4.col-lg-4.col-4
                    img.support__img(src="../dist/img/img_3.svg", alt="")
                    h2.support__subtitle EDC Consulting
                    p.support__text сервіс допомоги в питаннях підбору рішень, стосовно будь-якої IT інфраструктури
