mixin support
    .container
        h1 наші послуги
        .row
            .col-4
                img(src="../dist/img/img_1.svg", alt="")
                span Послуги хмарного ЦОД
                p сервіс оренди обчислювальних потужностей (IaaS) на наших хмарних платформах для створення вашої власної інфраструктури в «хмарі». 
            .col-4
                img(src="../dist/img/img_2.svg", alt="")
                sapn EDC Colocation
                p сервіс розміщення вашого IT обладнання на наших потужних, захищених, відмовостійких центрах обробки даних.
            .col-4
                img(src="../dist/img/img_3.svg", alt="")
                span EDC Consulting
                p сервіс допомоги в питаннях підбору рішень, стосовно будь-якої IT інфраструктури 
        .row
            .col-6
                .bg 
                    h3 блок CALL TO ACTION ПОСЛУГИ ЦЕНТРУ ОБРОБКИ ДАНИХ
                    p Потрібен хмарний ЦОД, сервер в хмарі, віртуальна система збереження даних, резервне сховище або віддалена робоча станція? Нажимай сюди. Ви отримаєте повний доступ до повністю ізольованою, автономної інфраструктурі і неймовірні можливості управління нею.
                    +btn 
            .col-6
                img(src="../dist/img/img_4.svg", alt="")