mixin support
    .container-fluid
        h1.title  наші послуги
        .row
            .col-4
                img(src="../dist/img/img_1.svg", alt="")
                span.bg__title Послуги хмарного ЦОД
                p.bg__subtitle сервіс оренди обчислювальних потужностей (IaaS) на наших хмарних платформах для створення вашої власної інфраструктури в «хмарі». 
            .col-4
                img(src="../dist/img/img_2.svg", alt="")
                br
                span.bg__title EDC Colocation
                p.bg__subtitle сервіс розміщення вашого IT обладнання на наших потужних, захищених, відмовостійких центрах обробки даних.
            .col-4
                img(src="../dist/img/img_3.svg", alt="")
                br
                span.bg__title EDC Consulting
                p.bg__subtitle сервіс допомоги в питаннях підбору рішень, стосовно будь-якої IT інфраструктури 
        .row.no-gutters
            .col-6.d-flex
                .bg 
                    h3.bg__title блок CALL TO ACTION ПОСЛУГИ ЦЕНТРУ ОБРОБКИ ДАНИХ
                    p.bg__subtitle Потрібен хмарний ЦОД, сервер в хмарі, віртуальна система збереження даних, резервне сховище або віддалена робоча станція? Нажимай сюди. Ви отримаєте повний доступ до повністю ізольованою, автономної інфраструктурі і неймовірні можливості управління нею.
                    +btn('купить')
            .col-6.d-flex
                .bgforimg
                img.bgimg(src="../dist/img/img_4.svg", alt="")