mixin support
    .container
        .support
            h2.support__title Підтримка, якій не все одно!
            .support__buttons.d-flex.justify-content-center
                button.support__btn +38 (044) 502-02-42
                    img.support__img(src="../../../dist/img/Vector.png", alt="") 
                button.support__btn.support__btn--big support.edc@udc-group.com.ua
                    img.support__img(src="../../../dist/img/Group.png", alt="") 