.header{
    background: url(../../../dist/img/img.png) no-repeat;
    background-size: cover;
    max-width: 1380px;
    width: 100%;
    height: 410px;
    margin: 0 auto;
    background-position: center;
    filter: grayscale(100%);
}