.header {
  &__wrapper {
    padding-top: 30px;
    height: 537px;
    background: #242424;
    margin: 0 auto;
  }
  &__images {
    border-right: 30px solid #242424;
    border-left: 30px solid #242424;
    padding: 0;
    max-width: 1380px;
    width: 100%;
    display: block;
    margin: 0 auto;
    filter: grayscale(100%);
  }
}
